openai==1.12.0
langchain-core>=0.3.26,<0.4.0
langchain
langchain-community>=0.0.14
pydantic==2.1.1
pinecone-client[grpc]==3.0.2
pandas==2.2.0
reflex==0.6.7
python-dotenv==1.0.1
langsmith>=0.1.125,<0.3
promptquality
